body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: black;
  color: white;
  padding: 15px;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.product, .cart-box, .checkout {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
}

.warning {
  color: red;
  font-weight: bold;
}
